<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="city-title">
      Daily forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div [class.class-background]="temperatureBackground()" class="city-info" *ngIf="loaded">
    <div class="title">
      {{ this.currentCity?.name }} -
      {{ this.currentCity?.country }}
      <ion-icon name="pin"></ion-icon>
    </div>
    <img *ngIf="this.currentCity?.image !== ''" class="backdrop" [src]="this.currentCity?.image" alt="">
    <div class="weather-type">
      {{ this.currentCity?.weatherType }}
    </div>
    <div class="weather-type-icon">
      <img style="vertical-align: middle;" [src]="weatherTypeIcon(this.currentCity?.weatherIcon)" alt="">
    </div>
    <div class="city-temp">
      {{ this.currentCity?.temp | number: '1.0-0' }} °
    </div>
    <div class="info-cards">
      <div class="summary-title">
        Additional info
      </div>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-card color="tertiary">
            Feels like {{ this.currentCity?.feelsLike | number: '1.0-0' }}
            <b>°C</b>
          </ion-card>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-card color="tertiary">
            <i class="mdi mdi-weather-windy"></i> {{ this.currentCity?.wind | number: '1.0-0' }} m/s
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-card color="tertiary">
            <i class="mdi mdi-thermometer-low"></i> {{ this.currentCity?.minTemp | number: '1.0-0' }}
            <b>°C</b>
          </ion-card>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-card color="tertiary">
            <i class="mdi mdi-thermometer-high"></i> {{ this.currentCity?.maxTemp | number: '1.0-0' }}
            <b>°C</b>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>